__pycache__/
*.py[cod]
*.pyo
*.pyd

.idea/
.vscode/

weights/
checkpoints/
checkpoint/
checkpoint_full_supervised/
vis_output/
vis_output_stage2_diag/

*.pth
*.pt
*.pth.tar
*.ckpt
*.h5
*.mat

data/
datasets/
logs/
runs/
wandb/

.DS_Store
Thumbs.db

